footer {
    text-align: center;
    position: relative;
    font-family: "Ubuntu";
    background-color: #eeeeee;
    margin :-7px -8px;
    padding-bottom: 7px;
  }
  
small {
  opacity: .8;
  font-weight: 300;
  a {
    color: inherit;
  }
  
}
  