
<div class="usercard">
        <div class="card text-center">
                <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
                        <img src={{link}} class="img-fluid" />
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
                <div class="card-header">{{usercard.username}}</div>
                <div class="card-body">
                        <p class="card-title"><span>E-mail :</span> {{usercard.email}}</p>
                        <p class="card-text"><span>Télephone :</span> {{usercard.phonenumber}}</p>
                        <p class="card-text"><span>Date de naissance :</span> {{usercard.birthdate | date : "dd MMMM YYYY"}}</p>
                </div>
        </div>
</div>