<div class="signup">
    <div class="connectText"> Pas de compte ? Inscrivez-vous !</div>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmitSignUp()">
        <div class="form-group">
            <label  for="username">Nom d'utilisateur</label>
            <input type="text" id="username" class="form-control" formControlName="username" placeholder="ex : Bobby785"/>
            
        </div>
        <br>
        <div class="form-group">
            <label  for="email">Email</label>
            <input mdbLabel type="email" id="email" class="form-control" formControlName="email" placeholder="ex : bobby@gmail.com"/>
            
        </div>
        <br>
        <div class="form-group">
            <label  for="password">Mot de passe</label>
            <input type="password" id="password" class="form-control" formControlName="password"/>
            
        </div>
        <div class="col-auto">
            <span id="textExample" class="form-text"> Doit faire entre 8 et 20 caractères. </span>
        </div>
        <br>
        <div class="form-group">
            <label  for="phonenumber">Numéro de téléphone</label>
            <input type="tel" id="phonenumber" class="form-control" formControlName="phonenumber" placeholder="ex : 0600000000"/>
        </div>
        <br>
        <div class="form-group">
            <label  for="birthdate">Date de naissance</label>
            <input type="date" formControlName="birthdate" id="birthdate" class="form-control" required>

        </div>
        <br>
        <button type="submit" class="btn btn-primary" >S'inscrire</button>
    </form>
    <div *ngIf="usercardPreview$ | async as usercard"> <div class="previewText"> Voici un aperçu de votre future carte de membre</div>
    <app-usercard *ngIf="usercardPreview$ | async as usercard" [usercard]="usercard"></app-usercard>
    </div>
    <br>
  </div>