.signup{
  text-align: center;
  display: inline-block;
  
}

.newsignup{
  text-align: center;
  display: inline-flex;
  justify-content: space-between;
  left : 50%;
  transition: left 1s;
  .form{
    width : 50%;
    padding: 0 12.5%;
    left : 50%;
  transition: left 1s;
  }

  .preview{
    width :50%;
    padding: 0 5%;
    left : 50%;
  transition: left 1s;
  }

  .previewText{
    padding : 0 20px;
    font-size : 20px;
    font-weight : 400;
  }
}

.connectText{
  margin-top: -10%;
  padding : 20px;
  font-size: 20px;
  font-weight: 500;
}

.isnotValid{
  color : red;
  font-weight: 300;
}